        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #FFFFFF;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: #000000;
            color: white;
            padding: 10px;
            position: sticky;
            top: 0;
            overflow: hidden;
            justify-content: space-between;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center; 

        }
        nav li {
            display: inline;
            margin: 0 15px;
        }
        nav a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 5px 10px; 
        }
        nav a:hover{
            border: #FFFFFF solid 1px;
            color: aqua;
        }
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
        h2 {
            margin-bottom: 50px;
        }
        main {
            text-align: center;
            padding: 5%;
            background-color: #F8F8FF;
            display: block;
        }
        .shopMain {
            background-color: #F8F8FF;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
            grid-gap: 20px;
        }
        .product {
            background-color: #FFFFFF;
            border: 0.5px solid #000000;
            padding: 10px;
            text-align: center; 
        }
        .product:hover{
            border:1.5px solid black ;
        }
        .product img {
            max-width: 100%;
            height: auto;
        }
        .container {
            max-width: 100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            
        }
            
        .content img{
            margin: 25px;
            float: left;
            width: 320px;
            border-radius: 50%;
            border: #000000 solid 3px;
            display: inline-block;
        }
        .para{
          margin: 10px;
          text-align: justify; 
          }

        
        .loginMain {
            background-color: #F8F8FF;
            max-width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        form {
            position:static;
            text-align: left;
            padding: 45px;
            padding-top:20px;
            display: inline-block;
            border:5px solid #FFFFFF;
            border-radius:40px;
            background-color: #000000;
            color: #FFFFFF;
            margin: 2em auto 2em auto;

        }
        h2{ 
          font-size:30px;
          padding-bottom: 40px;
          }
        input{
            background-color: #FFFFFF;
            padding:0.5em 1em;
            border:3px solid #FFFFFF; 
            border-radius: 1em;
        }
        lable{
            font-size:20px;
            padding: 5px;
            display: block;
            color: #FFFFFF;
        }
        button{
            font-size: 18px;
            color: #FFFFFF;
            background-color: #000000;
            padding:0.5em 1em;
            margin:0.25em auto;
            border-radius: 1em;
            display: block;  
            }
       button:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid black;
            }
        footer {
            background-color: #000000;
            color: white;
            padding: 10px;
            text-align: center;
        }